<h2><%= session[:player_name].capitalize %>, welcome to Blackjack!</h2>

Dealer's Cards:
<ul>
  <% session[:d_hand].each do |card| %>
    <li><%= card.to_s %></li>
  <%end %>
</ul>

<br/>

Player's Cards:
<ul>
  <% session[:p_hand].each do |card| %>
    <li><%= card.to_s %></li>
  <%end %>
</ul>


<% if @hand_compare %>
<br/>
<p> Dealer has <%= total(session[:d_hand]) %>. </p>
<p> <%= session[:player_name].capitalize %> has <%= total(session[:p_hand]) %>.
</p>
<br/>
<% end %>


<% if @show_play_again_or_exit_buttons %>
<p>
  What would you like to do <%= session[:player_name].capitalize %>?
  <form action="/game" method="get">
    <input type="submit" class="btn" value="Play Again" />
  </form>
  <form action="/game/player/stay" method="post">
    <input type="submit" class="btn" value="Leave Table" />
  </form>
<% end %>
</p>


<% if @show_hit_or_stay_buttons %>
<p>
  What would you like to do <%= session[:player_name].capitalize %>?
  You have <%=total(session[:p_hand]) %>.
  <form action="/game/player/hit" method="post">
    <input type="submit" class="btn" value="Hit" />
  </form>
  <form action="/game/dealer" method="get">
    <input type="submit" class="btn" value="Stay" />
  </form>
<% end %>
</p>
